hw5/ADD8_Disp.v
hw5/ADD8_Disp.v.bak
hw5/db/hw5.(0).cnf.cdb
hw5/db/hw5.(0).cnf.hdb
hw5/db/hw5.(1).cnf.cdb
hw5/db/hw5.(1).cnf.hdb
hw5/db/hw5.(2).cnf.cdb
hw5/db/hw5.(2).cnf.hdb
hw5/db/hw5.(3).cnf.cdb
hw5/db/hw5.(3).cnf.hdb
hw5/db/hw5.(4).cnf.cdb
hw5/db/hw5.(4).cnf.hdb
hw5/db/hw5.asm.qmsg
hw5/db/hw5.asm.rdb
hw5/db/hw5.asm_labs.ddb
hw5/db/hw5.cbx.xml
hw5/db/hw5.cmp.bpm
hw5/db/hw5.cmp.cdb
hw5/db/hw5.cmp.ecobp
hw5/db/hw5.cmp.hdb
hw5/db/hw5.cmp.kpt
hw5/db/hw5.cmp.logdb
hw5/db/hw5.cmp.rdb
hw5/db/hw5.cmp.tdb
hw5/db/hw5.cmp0.ddb
hw5/db/hw5.cmp_merge.kpt
hw5/db/hw5.db_info
hw5/db/hw5.eco.cdb
hw5/db/hw5.fit.qmsg
hw5/db/hw5.hier_info
hw5/db/hw5.hif
hw5/db/hw5.lpc.html
hw5/db/hw5.lpc.rdb
hw5/db/hw5.lpc.txt
hw5/db/hw5.map.bpm
hw5/db/hw5.map.cdb
hw5/db/hw5.map.ecobp
hw5/db/hw5.map.hdb
hw5/db/hw5.map.kpt
hw5/db/hw5.map.logdb
hw5/db/hw5.map.qmsg
hw5/db/hw5.map_bb.cdb
hw5/db/hw5.map_bb.hdb
hw5/db/hw5.map_bb.logdb
hw5/db/hw5.pre_map.cdb
hw5/db/hw5.pre_map.hdb
hw5/db/hw5.rpp.qmsg
hw5/db/hw5.rtlv.hdb
hw5/db/hw5.rtlv_sg.cdb
hw5/db/hw5.rtlv_sg_swap.cdb
hw5/db/hw5.sgate.rvd
hw5/db/hw5.sgate_sm.rvd
hw5/db/hw5.sgdiff.cdb
hw5/db/hw5.sgdiff.hdb
hw5/db/hw5.sld_design_entry.sci
hw5/db/hw5.sld_design_entry_dsc.sci
hw5/db/hw5.smart_action.txt
hw5/db/hw5.syn_hier_info
hw5/db/hw5.tan.qmsg
hw5/db/hw5.tis_db_list.ddb
hw5/db/logic_util_heursitic.dat
hw5/db/prev_cmp_hw5.asm.qmsg
hw5/db/prev_cmp_hw5.fit.qmsg
hw5/db/prev_cmp_hw5.map.qmsg
hw5/db/prev_cmp_hw5.qmsg
hw5/db/prev_cmp_hw5.tan.qmsg
hw5/hw5.asm.rpt
hw5/hw5.done
hw5/hw5.fit.rpt
hw5/hw5.fit.summary
hw5/hw5.flow.rpt
hw5/hw5.map.rpt
hw5/hw5.map.summary
hw5/hw5.pin
hw5/hw5.pof
hw5/hw5.qpf
hw5/hw5.qsf
hw5/hw5.qws
hw5/hw5.sof
hw5/hw5.tan.rpt
hw5/hw5.tan.summary
hw5/incremental_db/README
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.cdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.dfp
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.hdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.kpt
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.logdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.rcfdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.re.rcfdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.cdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.dpi
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.hdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.kpt
README.md
hw5/ADD8_Disp.v
hw5/ADD8_Disp.v.bak
hw5/db/hw5.(0).cnf.cdb
hw5/db/hw5.(0).cnf.hdb
hw5/db/hw5.(1).cnf.cdb
hw5/db/hw5.(1).cnf.hdb
hw5/db/hw5.(2).cnf.cdb
hw5/db/hw5.(2).cnf.hdb
hw5/db/hw5.(3).cnf.cdb
hw5/db/hw5.(3).cnf.hdb
hw5/db/hw5.(4).cnf.cdb
hw5/db/hw5.(4).cnf.hdb
hw5/db/hw5.asm.qmsg
hw5/db/hw5.asm.rdb
hw5/db/hw5.asm_labs.ddb
hw5/db/hw5.cbx.xml
hw5/db/hw5.cmp.bpm
hw5/db/hw5.cmp.cdb
hw5/db/hw5.cmp.ecobp
hw5/db/hw5.cmp.hdb
hw5/db/hw5.cmp.kpt
hw5/db/hw5.cmp.logdb
hw5/db/hw5.cmp.rdb
hw5/db/hw5.cmp.tdb
hw5/db/hw5.cmp0.ddb
hw5/db/hw5.cmp_merge.kpt
hw5/db/hw5.db_info
hw5/db/hw5.eco.cdb
hw5/db/hw5.fit.qmsg
hw5/db/hw5.hier_info
hw5/db/hw5.hif
hw5/db/hw5.lpc.html
hw5/db/hw5.lpc.rdb
hw5/db/hw5.lpc.txt
hw5/db/hw5.map.bpm
hw5/db/hw5.map.cdb
hw5/db/hw5.map.ecobp
hw5/db/hw5.map.hdb
hw5/db/hw5.map.kpt
hw5/db/hw5.map.logdb
hw5/db/hw5.map.qmsg
hw5/db/hw5.map_bb.cdb
hw5/db/hw5.map_bb.hdb
hw5/db/hw5.map_bb.logdb
hw5/db/hw5.pre_map.cdb
hw5/db/hw5.pre_map.hdb
hw5/db/hw5.rpp.qmsg
hw5/db/hw5.rtlv.hdb
hw5/db/hw5.rtlv_sg.cdb
hw5/db/hw5.rtlv_sg_swap.cdb
hw5/db/hw5.sgate.rvd
hw5/db/hw5.sgate_sm.rvd
hw5/db/hw5.sgdiff.cdb
hw5/db/hw5.sgdiff.hdb
hw5/db/hw5.sld_design_entry.sci
hw5/db/hw5.sld_design_entry_dsc.sci
hw5/db/hw5.smart_action.txt
hw5/db/hw5.syn_hier_info
hw5/db/hw5.tan.qmsg
hw5/db/hw5.tis_db_list.ddb
hw5/db/logic_util_heursitic.dat
hw5/db/prev_cmp_hw5.asm.qmsg
hw5/db/prev_cmp_hw5.fit.qmsg
hw5/db/prev_cmp_hw5.map.qmsg
hw5/db/prev_cmp_hw5.qmsg
hw5/db/prev_cmp_hw5.tan.qmsg
hw5/hw5.asm.rpt
hw5/hw5.done
hw5/hw5.fit.rpt
hw5/hw5.fit.summary
hw5/hw5.flow.rpt
hw5/hw5.map.rpt
hw5/hw5.map.summary
hw5/hw5.pin
hw5/hw5.pof
hw5/hw5.qpf
hw5/hw5.qsf
hw5/hw5.qws
hw5/hw5.sof
hw5/hw5.tan.rpt
hw5/hw5.tan.summary
hw5/incremental_db/README
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.cdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.dfp
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.hdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.kpt
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.logdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.rcfdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.re.rcfdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.cdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.dpi
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.hdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.kpt
hw6/.sopc_builder/filters.xml
hw6/CADD4.v
hw6/CADD4.v.bak
hw6/CADD8.v
hw6/SADD.v
hw6/SADD.v.bak
hw6/Waveform1.vwf
hw6/db/hw6.(0).cnf.cdb
hw6/db/hw6.(0).cnf.hdb
hw6/db/hw6.(1).cnf.cdb
hw6/db/hw6.(1).cnf.hdb
hw6/db/hw6.(2).cnf.cdb
hw6/db/hw6.(2).cnf.hdb
hw6/db/hw6.(3).cnf.cdb
hw6/db/hw6.(3).cnf.hdb
hw6/db/hw6.asm.rdb
hw6/db/hw6.asm.qmsg
README.md
hw5/ADD8_Disp.v
hw5/ADD8_Disp.v.bak
hw5/db/hw5.(0).cnf.cdb
hw5/db/hw5.(0).cnf.hdb
hw5/db/hw5.(1).cnf.cdb
hw5/db/hw5.(1).cnf.hdb
hw5/db/hw5.(2).cnf.cdb
hw5/db/hw5.(2).cnf.hdb
hw5/db/hw5.(3).cnf.cdb
hw5/db/hw5.(3).cnf.hdb
hw5/db/hw5.(4).cnf.cdb
hw5/db/hw5.(4).cnf.hdb
hw5/db/hw5.asm.qmsg
hw5/db/hw5.asm.rdb
hw5/db/hw5.asm_labs.ddb
hw5/db/hw5.cbx.xml
hw5/db/hw5.cmp.bpm
hw5/db/hw5.cmp.cdb
hw5/db/hw5.cmp.ecobp
hw5/db/hw5.cmp.hdb
hw5/db/hw5.cmp.kpt
hw5/db/hw5.cmp.logdb
hw5/db/hw5.cmp.rdb
hw5/db/hw5.cmp.tdb
hw5/db/hw5.cmp0.ddb
hw5/db/hw5.cmp_merge.kpt
hw5/db/hw5.db_info
hw5/db/hw5.eco.cdb
hw5/db/hw5.fit.qmsg
hw5/db/hw5.hier_info
hw5/db/hw5.hif
hw5/db/hw5.lpc.html
hw5/db/hw5.lpc.rdb
hw5/db/hw5.lpc.txt
hw5/db/hw5.map.bpm
hw5/db/hw5.map.cdb
hw5/db/hw5.map.ecobp
hw5/db/hw5.map.hdb
hw5/db/hw5.map.kpt
hw5/db/hw5.map.logdb
hw5/db/hw5.map.qmsg
hw5/db/hw5.map_bb.cdb
hw5/db/hw5.map_bb.hdb
hw5/db/hw5.map_bb.logdb
hw5/db/hw5.pre_map.cdb
hw5/db/hw5.pre_map.hdb
hw5/db/hw5.rpp.qmsg
hw5/db/hw5.rtlv.hdb
hw5/db/hw5.rtlv_sg.cdb
hw5/db/hw5.rtlv_sg_swap.cdb
hw5/db/hw5.sgate.rvd
hw5/db/hw5.sgate_sm.rvd
hw5/db/hw5.sgdiff.cdb
hw5/db/hw5.sgdiff.hdb
hw5/db/hw5.sld_design_entry.sci
hw5/db/hw5.sld_design_entry_dsc.sci
hw5/db/hw5.smart_action.txt
hw5/db/hw5.syn_hier_info
hw5/db/hw5.tan.qmsg
hw5/db/hw5.tis_db_list.ddb
hw5/db/logic_util_heursitic.dat
hw5/db/prev_cmp_hw5.asm.qmsg
hw5/db/prev_cmp_hw5.fit.qmsg
hw5/db/prev_cmp_hw5.map.qmsg
hw5/db/prev_cmp_hw5.qmsg
hw5/db/prev_cmp_hw5.tan.qmsg
hw5/hw5.asm.rpt
hw5/hw5.done
hw5/hw5.fit.rpt
hw5/hw5.fit.summary
hw5/hw5.flow.rpt
hw5/hw5.map.rpt
hw5/hw5.map.summary
hw5/hw5.pin
hw5/hw5.pof
hw5/hw5.qpf
hw5/hw5.qsf
hw5/hw5.qws
hw5/hw5.sof
hw5/hw5.tan.rpt
hw5/hw5.tan.summary
hw5/incremental_db/README
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.cdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.dfp
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.hdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.kpt
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.logdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.rcfdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.cmp.re.rcfdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.cdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.dpi
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.hdb
hw5/incremental_db/compiled_partitions/hw5.root_partition.map.kpt
hw6/.sopc_builder/filters.xml
hw6/CADD4.v
hw6/CADD4.v.bak
hw6/CADD8.v
hw6/SADD.v
hw6/SADD.v.bak
hw6/Waveform1.vwf
hw6/db/hw6.(0).cnf.cdb
hw6/db/hw6.(0).cnf.hdb
hw6/db/hw6.(1).cnf.cdb
hw6/db/hw6.(1).cnf.hdb
hw6/db/hw6.(2).cnf.cdb
hw6/db/hw6.(2).cnf.hdb
hw6/db/hw6.(3).cnf.cdb
hw6/db/hw6.(3).cnf.hdb
hw6/db/hw6.asm.qmsg
hw6/db/hw6.asm.rdb
hw6/db/hw6.asm_labs.ddb
hw6/db/hw6.cbx.xml
hw6/db/hw6.cmp.bpm
hw6/db/hw6.cmp.cdb
hw6/db/hw6.cmp.ecobp
hw6/db/hw6.cmp.hdb
hw6/db/hw6.cmp.kpt
hw6/db/hw6.cmp.logdb
hw6/db/hw6.cmp.rdb
hw6/db/hw6.cmp.tdb
hw6/db/hw6.cmp0.ddb
hw6/db/hw6.cmp_merge.kpt
hw6/db/hw6.db_info
hw6/db/hw6.eco.cdb
hw6/db/hw6.eds_overflow
hw6/db/hw6.fit.qmsg
hw6/db/hw6.fnsim.cdb
hw6/db/hw6.fnsim.hdb
hw6/db/hw6.fnsim.qmsg
hw6/db/hw6.hier_info
hw6/db/hw6.hif
hw6/db/hw6.lpc.html
hw6/db/hw6.lpc.rdb
hw6/db/hw6.lpc.txt
hw6/db/hw6.map.bpm
hw6/db/hw6.map.cdb
hw6/db/hw6.map.ecobp
hw6/db/hw6.map.hdb
hw6/db/hw6.map.kpt
hw6/db/hw6.map.logdb
hw6/db/hw6.map.qmsg
hw6/db/hw6.map_bb.cdb
hw6/db/hw6.map_bb.hdb
hw6/db/hw6.map_bb.logdb
hw6/db/hw6.pre_map.cdb
hw6/db/hw6.pre_map.hdb
hw6/db/hw6.rpp.qmsg
hw6/db/hw6.rtlv.hdb
hw6/db/hw6.rtlv_sg.cdb
hw6/db/hw6.rtlv_sg_swap.cdb
hw6/db/hw6.sgate.rvd
hw6/db/hw6.sgate_sm.rvd
hw6/db/hw6.sgdiff.cdb
hw6/db/hw6.sgdiff.hdb
hw6/db/hw6.sim.cvwf
hw6/db/hw6.sim.hdb
hw6/db/hw6.sim.qmsg
hw6/db/hw6.sim.rdb
hw6/db/hw6.simfam
hw6/db/hw6.sld_design_entry.sci
hw6/db/hw6.sld_design_entry_dsc.sci
hw6/db/hw6.smart_action.txt
hw6/db/hw6.syn_hier_info
hw6/db/hw6.tan.qmsg
hw6/db/hw6.tis_db_list.ddb
hw6/db/logic_util_heursitic.dat
hw6/db/prev_cmp_hw6.asm.qmsg
hw6/db/prev_cmp_hw6.fit.qmsg
hw6/db/prev_cmp_hw6.map.qmsg
hw6/db/prev_cmp_hw6.qmsg
hw6/db/prev_cmp_hw6.sim.qmsg
hw6/db/prev_cmp_hw6.tan.qmsg
hw6/db/wed.wsf
hw6/hw6.asm.rpt
hw6/hw6.done
hw6/hw6.dpf
hw6/hw6.fit.rpt
hw6/hw6.fit.summary
hw6/hw6.flow.rpt
hw6/hw6.map.rpt
hw6/hw6.map.summary
hw6/hw6.pin
hw6/hw6.pof
hw6/hw6.qpf
hw6/hw6.qsf
hw6/hw6.qws
hw6/hw6.sim.rpt
hw6/hw6.sof
hw6/hw6.tan.rpt
hw6/hw6.tan.summary
hw6/hw6.vwf
hw6/incremental_db/README
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.cdb
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.dfp
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.hdb
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.kpt
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.logdb
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.rcfdb
hw6/incremental_db/compiled_partitions/hw6.root_partition.cmp.re.rcfdb
hw6/incremental_db/compiled_partitions/hw6.root_partition.map.cdb
README.md
hw5/ADD8_Disp.v
hw5/ADD8_Disp.v.bak
hw5/db/hw5.(0).cnf.cdb
hw5/db/hw5.(0).cnf.hdb
hw5/db/hw5.(1).cnf.cdb
hw5/db/hw5.(1).cnf.hdb
hw5/db/hw5.(2).cnf.cdb
hw5/db/hw5.(2).cnf.hdb
hw5/db/hw5.(3).cnf.cdb
hw5/db/hw5.(3).cnf.hdb
hw5/db/hw5.(4).cnf.cdb
hw5/db/hw5.(4).cnf.hdb
hw5/db/hw5.asm.qmsg
hw5/db/hw5.asm.rdb
hw5/db/hw5.asm_labs.ddb
hw5/db/hw5.cbx.xml
hw5/db/hw5.cmp.bpm
hw5/db/hw5.cmp.cdb
hw5/db/hw5.cmp.ecobp
hw5/db/hw5.cmp.hdb
hw5/db/hw5.cmp.kpt
hw5/db/hw5.cmp.logdb
hw5/db/hw5.cmp.rdb
hw5/db/hw5.cmp.tdb
hw5/db/hw5.cmp0.ddb
hw5/db/hw5.cmp_merge.kpt
hw5/db/hw5.db_info
hw5/db/hw5.eco.cdb
hw5/db/hw5.fit.qmsg
hw5/db/hw5.hier_info
hw5/db/hw5.hif
hw5/db/hw5.lpc.html
hw5/db/hw5.lpc.rdb
hw5/db/hw5.lpc.txt
hw5/db/hw5.map.bpm
hw5/db/hw5.map.cdb
hw5/db/hw5.map.ecobp
hw5/db/hw5.map.hdb
hw5/db/hw5.map.kpt
hw5/db/hw5.map.logdb
hw5/db/hw5.map.qmsg
hw5/db/hw5.map_bb.cdb
hw5/db/hw5.map_bb.hdb
hw5/db/hw5.map_bb.logdb
hw5/db/hw5.pre_map.cdb
hw5/db/hw5.pre_map.hdb
hw5/db/hw5.rpp.qmsg
hw5/db/hw5.rtlv.hdb
hw5/db/hw5.rtlv_sg.cdb
hw5/db/hw5.rtlv_sg_swap.cdb
hw5/db/hw5.sgate.rvd
hw5/db/hw5.sgate_sm.rvd
hw5/db/hw5.sgdiff.cdb
hw5/db/hw5.sgdiff.hdb
hw5/db/hw5.sld_design_entry.sci
hw5/db/hw5.sld_design_entry_dsc.sci
hw5/db/hw5.smart_action.txt
hw5/db/hw5.syn_hier_info
hw5/db/hw5.tan.qmsg
hw5/db/hw5.tis_db_list.ddb
hw5/db/logic_util_heursitic.dat
hw5/db/prev_cmp_hw5.asm.qmsg
hw5/db/prev_cmp_hw5.fit.qmsg
hw5/db/prev_cmp_hw5.map.qmsg
hw5/ADD8_Disp.v
